.container{
    display:flex;
    flex-direction:column;
    margin:auto;

}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    margin-top:55px;
    display:flex;
    flex-direction:column;
    gap:25px;
    padding:15px;

}
.input{
    display:flex;
    align-items:center;
    margin:auto;
    width:50%;
    height:50%;
    background:gainsboro;       
    border-radius:6px;
    height:50px;
}
.input img{
    margin:0px 30px;
}
.submit-container{
    display:flex;
    gap:30px;
    margin:60px auto;

}
.submit{
    padding: 10px;
    gap: 200px;
    display: flex;
    align-items: center;
    width: 70px;
    height: 30px;
    background: #3c009d;
    color: white;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
}
.submit-stuff{
    display:flex;
    align-items:center;
    margin-left:40%;
    gap:10px;
}
.text{
    color:#3c009d;
    font-size:50px;
}
.underline{
    width:61px;
    height:6px;
    background:#3c009d;
    
}
